# - name: Install packages and dependencies
#   apt: name=openjdk-8-jdk update_cache=yes state=installed

# Install

- name: Fetch GIT_USERNAME from environment variables
  set_fact: git_username="{{ lookup('env','GIT_USERNAME') }}"

- name: Fetch GIT_PASSWORD from environment variables
  set_fact: git_password="{{ lookup('env','GIT_PASSWORD') }}"

- name: Add the Jenkins public GPG key to the apt repo
  apt_key: url=https://pkg.jenkins.io/debian/jenkins-ci.org.key
           state=present
  become: yes

- name: Add Jenkins to the trusted sources list
  apt_repository: repo='deb http://pkg.jenkins.io/debian-stable binary/'
                  update_cache=yes
                  state=present
  become: yes

- name: Install Jenkins server
  apt: name=jenkins state=installed
  become: yes

# Configure Jenkins init settings.
- include: configure_jenkins.yml

# Make sure Jenkins starts, then configure Jenkins.
- name: Ensure Jenkins is started and runs on startup.
  service: name=jenkins state=started enabled=yes

# - name: Wait for Jenkins to start up before proceeding.
#   uri:
#     url: http://{{ jenkins_hostname }}:{{ jenkins_http_port }}{{ jenkins_url_prefix }}/cli/
#     return_content: yes
#   register: result
#   until: ((result.msg.find("200 OK") != -1))
#   retries: "{{ jenkins_connection_retries }}"
#   delay: "{{ jenkins_connection_delay }}"
#   changed_when: false
#   check_mode: no

# - name: Wait for Jenkins to start up
#   uri:
#     url: http://{{ jenkins_hostname }}:{{ jenkins_http_port }}{{ jenkins_url_prefix }}/cli/
#     status_code: 200
#     timeout: 5
#   register: result
#   until: result.status == 200
#   retries: 60
#   delay: 1


- name: Wait for Jenkins to start up before proceeding.
  shell: "curl -D - --silent --max-time 5 http://{{ jenkins_hostname }}:{{ jenkins_http_port }}{{ jenkins_url_prefix }}/cli/"
  register: result
  until: (result.stdout.find("403 Forbidden") != -1) or (result.stdout.find("200 OK") != -1) and (result.stdout.find("Please wait while") == -1)
  retries: "{{ jenkins_connection_retries }}"
  delay: "{{ jenkins_connection_delay }}"
  changed_when: false
  check_mode: no

- name: Get the jenkins-cli jarfile from the Jenkins server.
  get_url:
    url: "http://{{ jenkins_hostname }}:{{ jenkins_http_port }}{{ jenkins_url_prefix }}/jnlpJars/jenkins-cli.jar"
    dest: "{{ jenkins_jar_location }}"
  register: jarfile_get
  until: "'OK' in jarfile_get.msg or 'file already exists' in jarfile_get.msg"
  retries: 5
  delay: 10
  check_mode: no

- name: Install git plugin
  jenkins_plugin:
    name: git
  register: plugin_installation

- name: Install nodejs plugin
  jenkins_plugin:
    name: nodejs
  register: plugin_installation

- name: Install post build plugin
  jenkins_plugin:
    name: postbuild-task
  register: plugin_installation

- name: restart jenkins
  service: name=jenkins state=restarted
  when: plugin_installation.changed

- name: Send template files {{jenkins_build_jobs}} to remote
  template:
    src: "{{item.xml_name}}"
    dest: "{{ jenkins_home }}/{{item.xml_name}}"
  with_items: "{{jenkins_build_jobs}}"

- name: Send credential file {{jenkins_credential_data.jinja_name}} to remote
  template:
    src: "{{jenkins_credential_data.jinja_name}}"
    dest: "{{ jenkins_home }}/{{jenkins_credential_data.xml_name}}"

#- name: Create Credentials
#  shell: "cat {{ jenkins_home }}/{{jenkins_credential_data.xml_name}} | java -jar {{ jenkins_jar_location }} -s http://{{ jenkins_hostname }}:{{ jenkins_http_port }}  create-credentials-by-xml system::system::jenkins _"


- name: Install python-pip
  apt: name=python-pip update_cache=yes state=installed

# Install lxml
- name: Install python-lxml
  pip:
    name: lxml

# Install python-jenkins
- name: Install python-jenkins
  pip:
    name: python-jenkins

- jenkins_job:
    config: "{{ lookup('file', 'templates/{{item.xml_name}}') }}"
    name: "{{item.name}}"
    url: http://{{ jenkins_hostname }}:{{ jenkins_http_port }}
  with_items: "{{jenkins_build_jobs}}"

- name: Install Jenkins server
  apt: name=npm state=installed
  become: yes

- name: Add Jenkins to sudoers
  lineinfile:
    path: /etc/sudoers
    state: present
    line: 'jenkins ALL=(ALL) NOPASSWD: ALL'

- name: Install openjdk-8
  apt: name=openjdk-8-jdk state=installed
  become: yes

- name: Install maven
  apt: name=maven state=installed
  become: yes

- name: Install npm
  apt: name=npm state=installed
  become: yes

- name: Install sshpass
  apt: name=sshpass state=installed
  become: yes
